Job_vacancy_flow.json
{
  "name": "Job vacancy flow",
  "nodes": [
    {
      "parameters": {
        "content": "",
        "height": 1120,
        "width": 2440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -200,
        -500
      ],
      "typeVersion": 1,
      "id": "8abd3efc-0f61-449c-b3bc-19bec9671053",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1AkxHehCbHTE-O-BxCbDCJJCE1kYEhwuIuD3rtPev1PA",
          "mode": "list",
          "cachedResultName": "Candidatos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AkxHehCbHTE-O-BxCbDCJJCE1kYEhwuIuD3rtPev1PA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AkxHehCbHTE-O-BxCbDCJJCE1kYEhwuIuD3rtPev1PA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Add user').item.json.Email }}",
            "Entrevista": "={{ $json.htmlLink }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cargo",
              "displayName": "Cargo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pretensão",
              "displayName": "Pretensão",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data Cadastro",
              "displayName": "Data Cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Entrevista",
              "displayName": "Entrevista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1860,
        -60
      ],
      "id": "c008f488-bf3a-4354-a3ab-66b2fddfd6ba",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pYWxpGrKOLetj9F8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Postulez pour rejoindre notre équipe",
        "formDescription": "Nous recrutons ! Si vous êtes motivé(e), compétent(e) et prêt(e) à évoluer avec nous, remplissez le formulaire ci-dessous. Nous examinerons votre candidature et vous contacterons si votre profil correspond.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nom complet",
              "placeholder": "Indiquez votre nom complet",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "Indiquez votre email",
              "requiredField": true
            },
            {
              "fieldLabel": "téléphone",
              "fieldType": "number",
              "placeholder": "Indiquez votre téléphone",
              "requiredField": true
            },
            {
              "fieldLabel": "Poste",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Développeur "
                  },
                  {
                    "option": "Devops "
                  },
                  {
                    "option": "Designer"
                  }
                ]
              }
            },
            {
              "fieldLabel": "prétention salariale",
              "fieldType": "number",
              "placeholder": "Indiquez votre prétention salariale"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "ed42407c-7f55-4601-9843-8cf19ae7aee1",
      "name": "Form",
      "webhookId": "16076253-ac6c-44f3-b69e-fccfef033f3a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2c115a97-7263-4219-8644-3755cf005e3a",
              "leftValue": "={{ $json['Pretensão salarial'] }}",
              "rightValue": 5000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ],
      "id": "82bbad9d-102f-454e-aa6e-00eb30deb12a",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Obrigado pelo interesse na vaga",
        "emailType": "text",
        "message": "=Olá, {{ $json['Nome completo'] }}\n\nInfelizmente seu salário é incompatível com a vaga \n\nMuito obrigado por se candidatar a essa vaga.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        420,
        -180
      ],
      "id": "5bf61b69-8788-40c2-83d0-7f185f8a8d1c",
      "name": "Get a message",
      "webhookId": "9165cb4f-0818-4e48-b6ba-e88a3fe1f09a",
      "credentials": {
        "gmailOAuth2": {
          "id": "hjPrSvFJIFQmJQb7",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1AkxHehCbHTE-O-BxCbDCJJCE1kYEhwuIuD3rtPev1PA",
          "mode": "list",
          "cachedResultName": "Candidatos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AkxHehCbHTE-O-BxCbDCJJCE1kYEhwuIuD3rtPev1PA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AkxHehCbHTE-O-BxCbDCJJCE1kYEhwuIuD3rtPev1PA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nome": "={{ $json['Nome completo'] }}",
            "Email": "={{ $json.Email }}",
            "Cargo": "={{ $json.Cargo }}",
            "Pretensão": "={{ $json['Pretensão salarial'] }}",
            "Data Cadastro": "=  {{ $now.format('dd/MM/yyyy') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cargo",
              "displayName": "Cargo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pretensão",
              "displayName": "Pretensão",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data Cadastro",
              "displayName": "Data Cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Entrevista",
              "displayName": "Entrevista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        440,
        140
      ],
      "id": "0ca83085-1434-44e7-a4ba-42fc96471693",
      "name": "Add user",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pYWxpGrKOLetj9F8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Cargo }}",
                    "rightValue": "Programador ",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7449ae97-0019-4b54-be8f-01e7aaef42c3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Dev"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2318d33d-9e8b-4f93-9766-2b5387be2ff9",
                    "leftValue": "={{ $json.Cargo }}",
                    "rightValue": "Designer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Designer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "64bcb9e0-e4df-4e19-94da-b8eb7a40fe8a",
                    "leftValue": "={{ $json.Cargo }}",
                    "rightValue": "Devops",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Devops"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        660,
        140
      ],
      "id": "9386bc71-69ee-4c68-87f7-55bd1927d4a8",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Atualização para vaga de {{ $('Add user').item.json.Cargo }}",
        "emailType": "text",
        "message": "=Olá, {{ $json.Nome }}\n\nEm breve entraremos em contato para vaga de {{ $json.Cargo }}.\n\nMuito obrigado por se candidatar a essa vaga.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1000,
        140
      ],
      "id": "28c2c4eb-3d03-4051-b6b3-3c3c10fa46d6",
      "name": "Get a message designer",
      "webhookId": "9165cb4f-0818-4e48-b6ba-e88a3fe1f09a",
      "credentials": {
        "gmailOAuth2": {
          "id": "hjPrSvFJIFQmJQb7",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Atualização para vaga de {{ $('Add user').item.json.Cargo }}",
        "emailType": "text",
        "message": "=Olá, {{ $json.Nome }}\n\nEm breve entraremos em contato para vaga de {{ $json.Cargo }}.\n\nMuito obrigado por se candidatar a essa vaga.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1000,
        -60
      ],
      "id": "8ef7853e-fbad-487e-8ffa-e33472d5ea88",
      "name": "Get a message dev",
      "webhookId": "9165cb4f-0818-4e48-b6ba-e88a3fe1f09a",
      "credentials": {
        "gmailOAuth2": {
          "id": "hjPrSvFJIFQmJQb7",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Atualização para vaga de {{ $('Add user').item.json.Cargo }}",
        "emailType": "text",
        "message": "=Olá, {{ $json.Nome }}\n\nEm breve entraremos em contato para vaga de {{ $json.Cargo }}.\n\nMuito obrigado por se candidatar a essa vaga.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1000,
        340
      ],
      "id": "84ebe64d-192b-4d78-a748-95eb363579d9",
      "name": "Get a message  devops",
      "webhookId": "9165cb4f-0818-4e48-b6ba-e88a3fe1f09a",
      "credentials": {
        "gmailOAuth2": {
          "id": "hjPrSvFJIFQmJQb7",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "576b94d5-7892-4cb3-b73b-486d10e26300",
              "leftValue": "={{ $('Switch').item.json['Pretensão'] }}",
              "rightValue": 4000,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1400,
        -60
      ],
      "id": "5c42c60e-6b41-4d59-b02b-a7ece1dd6f9d",
      "name": "Filter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1400,
        140
      ],
      "id": "06beddbd-4310-430d-99df-288eaf8a7e4a",
      "name": "No Operation"
    },
    {
      "parameters": {
        "sendTo": "=adverse.cp@gmail.com",
        "subject": "=Novo candidato ",
        "emailType": "text",
        "message": "=Olá\n\nUm novo candidato foi adicionado a planilha de contratação\n\nPara a vaga de: {{ $('Form').item.json.Cargo }}\n\nPor favor , analise o candidato e de o feedback para proseguir ou não para entrevista",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1640,
        140
      ],
      "id": "24f90a78-5b60-4083-900e-ed6ff14b3193",
      "name": "Get a message manager",
      "webhookId": "9165cb4f-0818-4e48-b6ba-e88a3fe1f09a",
      "credentials": {
        "gmailOAuth2": {
          "id": "hjPrSvFJIFQmJQb7",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "adverse.cp@gmail.com",
          "mode": "list",
          "cachedResultName": "adverse.cp@gmail.com"
        },
        "start": "={{ $now.plus(1, 'day')}}",
        "end": "={{ $now.plus(1, 'day').plus(1, 'hour') }}",
        "additionalFields": {
          "attendees": [
            "={{ $('Add user').item.json.Email }}"
          ],
          "summary": "=Entrevista de emprego x  {{ $('Add user').item.json.Cargo }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1640,
        -60
      ],
      "id": "71dc19d4-d965-4672-b316-1e285604d9ef",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "uIrFMRjDL5kdKc1D",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Job vacancy flow",
        "height": 80,
        "width": 320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        940,
        -420
      ],
      "typeVersion": 1,
      "id": "53612b69-248c-404e-8d87-72559a15efce",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Form": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        []
      ]
    },
    "Add user": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a message dev",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a message designer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a message  devops",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message designer": {
      "main": [
        [
          {
            "node": "No Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message dev": {
      "main": [
        [
          {
            "node": "No Operation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message  devops": {
      "main": [
        [
          {
            "node": "No Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation": {
      "main": [
        [
          {
            "node": "Get a message manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1f2701a5-aaee-435f-abe8-14c9b148b5bb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "711acf5db162102893671905bacca3b1e89df46d2bbf174974b9b0b3a49a2a6b"
  },
  "id": "ClQ3zTk4f7aidpP1",
  "tags": []
}